<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicamentos</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <h1>Gerenciamento de Medicamentos</h1>

   <section>
    <h2>Cadastrar Medicamento</h2>

    <input id="nome" placeholder="Nome" />
    <input id="lote" placeholder="Lote" />
    <input id="validade" type="date" placeholder="Validade" />
    <input id="quantidade_minima" type="number" placeholder="Quantidade mínima" />
    <input id="codigo_barras" placeholder="Código de barras" />
    <input id="quantidade_estoque" type="number" placeholder="Quantidade em estoque" />

    <label>
        Receita obrigatória?
        <input id="receita_obrigatoria" type="checkbox" />
    </label>

    <button onclick="cadastrarMedicamento()">Cadastrar</button>

    <pre id="resultadoCadastro"></pre>
</section>


    <!-- CONSULTAR TODOS -->
    <section>
        <h2>Consultar Todos Medicamentos</h2>
        <button onclick="listarTodos()">Listar</button>
        <pre id="resultadoTodos"></pre>
    </section>

    <!-- CONSULTAR POR NOME -->
    <section>
        <h2>Consultar por Nome</h2>
        <input id="buscarNome" placeholder="Nome" />
        <button onclick="buscarPorNome()">Buscar</button>
        <pre id="resultadoNome"></pre>
    </section>

    <!-- DELETAR -->
    <section>
        <h2>Deletar Medicamento</h2>
        <input id="deleteId" placeholder="ID do medicamento" type="number" />
        <button onclick="deletarMedicamento()">Deletar</button>
        <pre id="resultadoDelete"></pre>
    </section>

    
    <script src="/static/js/medicamentos.js"></script>
</body>
</html>
